{% extends 'main.html' %}

{% block content %}
<a class="backButton" href="{% url 'user-profile' recipient.id %}"><i class="im im-angle-left"></i></a>

<div class="message" >
  <form class="form" action="{% url 'send-message' recipient.id %}" method="POST">
    {% csrf_token %}
    <p>To: {{ recipient.name }}</p>
  {% for field in form %}
    <div class="form__field">
      <label for="formInput#textarea">{{ field.label }}</label>
      {{ field }}
    </div>
  {% endfor %}  
    <input class="btn btn--sub btn--lg" type="submit" value="Send!"> 
  </form>
</div>

{% endblock content %}